
        .icon-container {
            display: flex;
            align-items: center;
            height: 100%; /* La hauteur de la carte */
            font-size: 24px; /* La taille de l'icône */
            background-color: black;
        }


        :root{


            background-color: black;
        }
